* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  background: #0a0e1a;
  color: #eae0d5;
}

#root {
  min-height: 100vh;
}
